.footer {
    padding-top: 10px;
    padding-bottom: 35px;
    background: #464547;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_content {
    width: 80%;
    height: 90%;
}

#footer_title {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: #FFFFFF;
}

.footer_info {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}
