.hero {
    background-image: url(../assets/hero_background.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.hero_block {
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headline {
    font-family: 'Oswald', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;

    text-align: center;

    color: #FFFFFF;
}

#headline_description {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    text-align: center;

    color: rgba(255, 255, 255, 0.7);
}

