.learn_more {
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/learn_more_background.png");
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
    flex-direction: column;
    margin-top: 40px;
}

.learn_more_content_box {
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play_button {
    background-color: transparent;
    border-style: none;
}


.learn_more_title {
    font-family: 'Oswald', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
}

.learn_more_description {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    text-align: center;

    color: #FFFFFF;
}